.res-cards {
  display: flex;
  /* border: 1px solid black; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.restaurant-container {
}

.res-search {
  display: flex;
  padding: 3px;
  margin: 5px 5px;
}
.filter-btn {
}

.search {
  padding-right: 7px;
}
